.poster {
    display: flex;
    flex-direction: column;
    
    height: auto;
    max-height: 75vh;
    width: auto;
    max-width: 40vw;
    
    padding-bottom: 100px;

    &__info {
        display: flex;
    }
}

.poster img {
    height: 100%;
    width: 100%;
}

.info {
    margin: 10px;
}