.show-times__container {
    margin: 25px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    padding-left: 50px;
}

.show-time {
    background: lightgray;
    width: 100px;
    height: 50px;
    margin: 5px;
}